body {
    margin: auto;
    max-width: 45em;
    font-size: 18px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: linear-gradient(0.25turn, #3f87a6, #e1f8f5, #3f87a6);
}

.container {
    background-color: #679dc9;
    padding: 0.5px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}

header {
    background-color: #679dc9;
    padding: 0.5px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    display: inline-block;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    margin-bottom: 0;
}

header a:hover {
    background-color: #78bffa;
}


nav li {
    display: inline-block;
    background: white;
    border-radius: .5em;
    margin-right: .2em;
    border: 1px solid black;
}

nav ul {
    padding: 0;
    margin: 1;
}

nav li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

nav li:hover {
    background-color: #78bffa;
}


.search {
    margin-top: 10px;
    background: #9dcdf5;
    padding: 15px;
    border-radius: 10px;
}

.search:before {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.search input[name="query"] {
    border: 1px solid black;
    padding: 5px;
    width: 200px;
}

.search input[type="submit"] {
    padding: 5px 10px;
    background-color: white;
    color: black;   
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.search input[type="submit"]:hover {
    background-color: #78bffa;
}

.message {
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.message b{
    font-size: larger;
}

.message a {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    margin-bottom: 0;
}

.message a:hover {
    background-color: #78bffa;
}

.message form {
    display: inline-block;
}

.message form #button {
    display: inline-block;
    background-color: #33a3ff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.message form #favorite {
    display: inline-block;
    background-color: #33a3ff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
}


.message form #button:hover {
    background-color: #78bffa;
}

.message form #favorite:hover {
    background-color: #78bffa;
}

.content {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0px;
    font-family: Arial, sans-serif;
}

.content i {
    font-style: italic;
    color: #555;
}

.content p {
    margin: 10px 0;
    margin-bottom: 0;
}

.content li {
    margin: 5px;
}

.content ul {
    padding: 15px;
    margin: 1px;
}

#post {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: #ffffff;
    margin-top: 0;
}

#post textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#post input[type="submit"] {
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#post input[type="submit"]:hover {
    background-color: #78bffa;
}

.account input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 5px solid #ccc;
    border-radius: 4px;
}

.account input[type="submit"] {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 0;
}

.account input[type="submit"]:hover {
    background-color: #78bffa;
}

.poll {
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: white;
}

.poll b {
    font-size: larger;
}

.poll form input[type="radio"] {
    margin: 5px;
}

.poll form input[type="submit"] {
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.poll form input[type="submit"]:hover {
    background-color: #78bffa;
}




