{% extends "layout.html" %}
{% block content %}
<header>
    <div class="header-content">
        <h1>Keskustelusovellus</h1>
        <a href="/">Takaisin</a>
    </div>
</header>

<div class="container">
    <p>
    <div class="message">
    {% if message[7] == True and admin == False %}
    <b>Error</b><br>
    Sinulla ei ole oikeuksia nähdä tätä keskustelua
    {% else %}
        <b>Aihe: {{ message[1] }}</b>
        <div class="content">
        <i>Lähettäjä:</i> {{ message[4] }}
        <p>
        <i>Viesti:</i> {{ message[2] }}
        <p>
        <i>Lähetetty:</i> {{ message[5].strftime("%H:%M %d-%m-%Y") }}
        {% if message[6] == True %}
        (Muokattu)
        {% endif %}
        </div>

        {% if message[3] == session.user_id %}
        <form action="/edit_message/{{ message[0] }}?user_id={{ message[3] }}" method="GET">
            <input type="hidden" name="message_id" value="{{ message[0] }}">
            <input id="button" type="submit" value="Muokkaa viestiä">
        </form> 
        {% endif %}
        {% if message[3] == session.user_id or admin == True %}
        <form action="/delete_message" method="POST">
            <input type="hidden" name="user_id" value="{{ message[3] }}">
            <input type="hidden" name="message_id" value="{{ message[0] }}">
            <input id="button" type="submit" value="Poista viesti">
        </form>    
        {% endif %}
    </div>
    </p>
        <b>Vastaukset:</b>
        <hr><p>
        {% for answer in answers %}
        <div class="message">
            <div class="content">
            <i>Lähettäjä:</i> {{ answer[3] }}
            <p>
            <i>Viesti:</i> {{ answer[1] }}
            <p>
            <i>Lähetetty:</i> {{ answer[4].strftime("%H:%M %d-%m-%Y") }}
            {% if answer[5] == True %}
            (Muokattu)
            {% endif %}
            </div>

            {% if answer[2] == session.user_id %}
            <form action="/edit_answer/{{ answer[0] }}?message_id={{ message[0] }}&user_id={{ answer[2] }}" method="GET">
                <input type="hidden" name="message_id" value="{{ message[0] }}">
                <input id="button" type="submit" value="Muokkaa vastausta">
            </form>
            {% endif %}
            {% if answer[2] == session.user_id or admin == True %}
            <form action="/delete_answer" method="POST">
                <input type="hidden" name="user_id" value="{{ answer[2] }}">
                <input type="hidden" name="answer_id" value="{{ answer[0] }}">
                <input type="hidden" name="message_id" value="{{ message[0] }}">
                <input id="button" type="submit" value="Poista vastaus">
            </form>
            {% endif %}
        </div>
        {% endfor %}

        {% if session.user_id %}
            <form id="answer" action="/answer" method="POST" onsubmit="return check(this)">
                <p>Uusi vastaus: <br>
                    <textarea name="text" rows="5" cols="40"></textarea>
                    <br>
                    <input type="submit" value="Lähetä">
                    <input type="hidden" name="id" value="{{ message[0] }}">
            </form>

            <script>
                function check(form) {
                    if (form.text.value.length > 5000) {
                        alert("Viesti on liian pitkä");
                        return false;
                    }
                    return true;
                }
                </script>
        {% endif %}
    {% endif %}
</div>
{% endblock %}