{% if message[7] == True and admin == False %}
Sinulla ei ole oikeuksia nähdä tätä keskustelua | <a href="/">Takaisin</a>
{% else %}
    <font size="+2">Aihe: {{ message[1] }} | </font><a href="/">Takaisin</a>
    <hr>
    <i>Lähettäjä:</i> {{ message[4] }}
    <p><i>Viesti:</i> {{ message[2] }}</p>
    <i>Aika:</i> {{ message[5].strftime("%H:%M %d-%m-%Y") }}
    {% if message[6] == True %}
    (Muokattu)
    {% endif %}
    {% if message[3] == session.user_id %}
    <p>
    <form action="/edit_message/{{ message[0] }}?user_id={{ message[3] }}" method="GET">
        <input type="hidden" name="message_id" value="{{ message[0] }}">
        <input type="submit" value="Muokkaa viestiä">
    </form> 
    <form action="/delete_message" method="POST">
        <input type="hidden" name="message_id" value="{{ message[0] }}">
        <input type="submit" value="Poista viesti">
    </form>    
    {% endif %}
    <hr>
    <font size="+1">Vastaukset:</font>
    <hr>
    {% for answer in answers %}
        <i>Lähettäjä:</i> {{ answer[3] }}
        <p><i>Viesti:</i> {{ answer[1] }}</p>
        <i>Aika:</i> {{ answer[4].strftime("%H:%M %d-%m-%Y") }}
        {% if answer[5] == True %}
        (Muokattu)
        {% endif %}

        {% if answer[2] == session.user_id %}
        <p>
        <form action="/edit_answer/{{ answer[0] }}?message_id={{ message[0] }}&user_id={{ answer[2] }}" method="GET">
            <input type="hidden" name="message_id" value="{{ message[0] }}">
            <input type="submit" value="Muokkaa vastausta">
        </form>
        {% endif %}
        {% if answer[2] == session.user_id or admin == True %}
        <p>
        <form action="/delete_answer" method="POST">
            <input type="hidden" name="user_id" value="{{ answer[2] }}">
            <input type="hidden" name="answer_id" value="{{ answer[0] }}">
            <input type="hidden" name="message_id" value="{{ message[0] }}">
            <input type="submit" value="Poista vastaus">
        </form>
        {% endif %}
        <hr>
    {% endfor %}

    {% if session.user_id %}
        <form action="/answer" method="POST">
            <p>Uusi vastaus: <br>
                <textarea name="text" rows="5" cols="40"></textarea>
                <br>
                <input type="submit" value="Lähetä">
                <input type="hidden" name="id" value="{{ message[0] }}">
        </form>
    {% endif %}
{% endif %}
