<form action="/edit_answer/{{ answer.id }}" method="POST" onsubmit="return check(this)">
    <font size="+1">Muuta vastausta: | <a href="/message/{{ answer.message_id }}">Takaisin</a></font> <br>
        <textarea name="new_text" rows="5" cols="40">{{ answer.answer }}</textarea>
        <input type="hidden" name="message_id" value="{{ answer.message_id }}">
        <br>
        <input type="submit" value="Tallenna muutokset">
    </p>
</form>

<script>
    function check(form) {
        if (form.new_text.value.length > 5000) {
            alert("Viesti on liian pitkä");
            return false;
        }
        if (form.new_text.value.length < 1) {
            alert("Viesti on liian lythyt");
            return false;
        }
        return true;
    }
    </script>