{% extends "layout.html" %}
{% block content %}
<header>
    <div class="header-content">
        <h1>Keskustelusovellus</h1>
        <a href="/">Takaisin</a>
    </div>
</header>

<div class="container">
<p>
<form id="post" action="/edit_message/{{ message.id }}" method="POST" onsubmit="return check(this)">
    <p>Muuta aihetta: <br>
    <textarea name="new_topic" rows="3" cols="40">{{ message.topic }}</textarea>
    <br>
    <p>Muuta viestiä: <br>
    <textarea name="new_text" rows="5" cols="40">{{ message.text }}</textarea>
    <br>
    <input type="submit" value="Tallenna muutokset">
    </p>
</form>

<script>
    function check(form) {
        if (form.new_topic.value.length > 100) {
            alert("Otsikko on liian pitkä");
            return false;
        }
        if (form.new_text.value.length > 5000) {
            alert("Viesti on liian pitkä");
            return false;
        }
        if (form.new_topic.value.length < 1) {
            alert("Otsikko on liian lyhyt");
            return false;
        }
        if (form.new_text.value.length < 1) {
            alert("Viesti on liian lyhyt");
            return false;
        }
        return true;
    }
    </script>
</div>
{% endblock %}