{% extends "layout.html" %}
{% block content %}
<header>
    <div class="header-content">
        <h1>Keskustelusovellus</h1>
        <a href="/">Takaisin</a>
    </div>
</header>
<div class="container">
{% if session.user_id %}
<p>
Käyttäjän {{ session.username }} suosikki viestit
<hr><p>
{% if messages != None %}
<div class="container">
    {% for message in messages %}
    {% if message[8] == True and admin == False%}
    {% else %}
    <div class="message">
        <b>Aihe: {{ message[1] }}</b>
        {% if message[8] == True%}
        (Yksityinen)
        {% endif %}
        <form action="/remove_favorite" method="POST">
            <input type="hidden" name="user_id" value="{{ session.user_id }}">
            <input type="hidden" name="message_id" value="{{ message[0] }}">
            <input type="hidden" name="source" value="/favorites">
            <input id="favorite" type="submit" value="Poista suosikeista">
        </form>
        <div class="content">
        <i>Viesti:</i> {{ message[2] }}
        <p>
        <i>Lähettäjä:</i> {{ message[4] }}
        <p>
        <i>Aika:</i> {{ message[5].strftime("%H:%M %d-%m-%Y") }}
        {% if message[7] == True %}
        (Muokattu)
        {% endif %}
        </div>
        <p>
        <a href="/message/{{ message[0] }}">Mene viestiin</a> Vastauksia: {{ message[6] }}<br>
            
        {% if message[3] == session.user_id %}
            <form action="/edit_message/{{ message[0] }}?user_id={{ message[3] }}" method="GET">
                <input type="hidden" name="message_id" value="{{ message[0] }}">
                <input id="button" type="submit" value="Muokkaa viestiä">
            </form>
        {% endif %} 
        {% if message[3] == session.user_id or admin == True %}
            <form action="/delete_message" method="POST">
                <input type="hidden" name="user_id" value="{{ message[3] }}">
                <input type="hidden" name="message_id" value="{{ message[0] }}">
                <input id="button" type="submit" value="Poista viesti">
            </form>    
        {% endif %}
    {% endif %}
    </div>
    {% endfor %}
    </p>
{% else %}
Ei suosikki viestejä
{% endif %}
{% endif %}
{% endblock %}