{% if session.user_id %}
<font size="+1">Olet kirjautunut sisään käyttäjällä {{ session.username }} </font>
<a href="/new">Luo uusi viesti</a> <font size="+1">|</font> <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

<hr>
{% for message in messages %}
<font size="+2">Aihe: {{ message[1] }}</font>
<p>
<i>Viesti:</i> {{ message[2] }}
<p>
<i>Lähettäjä:</i> {{ message[3] }}
<p>
<i>Aika:</i> {{ message[4].strftime("%H:%M %d-%m-%Y") }}
<p>
<a href="/message/{{ message[0] }}">Mene viestiin</a> Vastauksia: {{ message[5]+1 }}
<hr>
{% endfor %}