{% extends "layout.html" %}
{% block content %}
<header>
    <div class="header-content">
        <h1>Keskustelusovellus</h1>
        <a href="/">Takaisin</a>
    </div>
</header>

<div class="container">
    <p>
        <div class="account">
            <form action="/login" method="post">
                Tunnus: <input type="text" name="username">
                <p>
                Salasana: <input type="password" name="password">
                <p>
                <input type="submit" value="Kirjaudu">
            <hr>
            </form>
            <form action="/register" method="get">
                <input type="submit" value="Luo uusi tunnus">
            </form>
        </div>
    </p>
</div>
{% endblock %}
