{% extends "layout.html" %}
{% block content %}
<header>
    <div class="header-content">
        <h1>Keskustelu sovellus</h1>
        <a href="/">Takaisin</a>
    </div>
</header>

<div class="container">
<p>
{% if session.user_id %}
<form id="post" action="/send" method="post" onsubmit="return check(this)">
    <input type="hidden" name="privacy" value=False>
    <p>Aihe: <br>
    <textarea name="topic" rows="3" cols="40"></textarea>
    <br>
    <p>Viesti: <br>
    <textarea name="text" rows="5" cols="40"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    </p>
</form>

    <script>
        function check(form) {
            if (form.topic.value.length > 100) {
                alert("Otsikko on liian pitkä");
                return false;
            }
            if (form.text.value.length > 5000) {
                alert("Viesti on liian pitkä");
                return false;
            }
            if (form.topic.value.length < 1) {
                alert("Otsikko on liian lyhyt");
                return false;
            }
            if (form.text.value.length < 1) {
                alert("Viesti on liian lyhyt");
                return false;
            }
            return true;
        }
        </script>

{% else %}
    <div class="message"></div>
    Kirjaudu sisään ensiksi <a href="/login">tästä</a>
    </div>
{% endif %}
</div>
{% endblock %}
    