{% extends "layout.html" %}
{% block content %}
<header>
    <div class="header-content">
        <h1>Keskustelu sovellus</h1>
        <a href="/polls">Takaisin</a>
    </div>
</header>

<div class="container">
<p>
{% if session.user_id %}
<form id="post" action="/create" method="POST">
    <p>Aihe:<br>
    <input type="text" name="topic"></p>
    <p>Vaihtoehto 1:<br>
    <input type="text" name="choice"></p>
    <p>Vaihtoehto 2:<br>
    <input type="text" name="choice"></p>
    <p>Vaihtoehto 3:<br>
    <input type="text" name="choice"></p>
    <p>Vaihtoehto 4:<br>
    <input type="text" name="choice"></p>
    <input type="submit" value="Luo uusi kysely">
    </p>
    </form>

    <script>
        function check(form) {
            if (form.topic.value.length > 100) {
                alert("Aihe on liian pitkä");
                return false;
            }
            if (form.text.choice.length > 100) {
                alert("Vaihtoehto on liian pitkä");
                return false;
            }
            if (form.topic.value.length < 1) {
                alert("Aihe on liian lyhyt");
                return false;
            }
            return true;
        }
        </script>

{% else %}
    <div class="message">
    Kirjaudu sisään ensiksi <a href="/login">tästä</a>
    </div>
{% endif %}
</div>
{% endblock %}