{% extends "layout.html" %}
{% block content %}
<header>
    <div class="header-content">
        <h1>Keskustelusovellus</h1>
        <a href="/">Takaisin</a>
    </div>
</header>
<div class="container">
{% if session.user_id %}
<p>Olet kirjautunut sisään käyttäjällä {{ session.username }}</p>
        <nav>
            <ul>
                <li><a href="/new_poll">Luo uusi kysely</a> </li>
                <li><a href="/logout">Kirjaudu ulos</a></li>
            </ul>
        </nav>
        {% else %}
        <nav>
            <ul>
                <li><a href="/login">Kirjaudu sisään</a></li>
                <li><a href="/register">Luo uusi tunnus</a></li>
                {% endif %}
            </ul>
        </nav>
</div>
{% if polls != None %}
<div class="container">
    <p>
    {% for poll in polls %}
    <div class="message">
        <div class="content">
        <i>Aihe:</i> {{ poll[1] }}
        <p>
        <i>Tekijä:</i> {{ poll[3] }}
        <p>
        <i>Luotu:</i> {{ poll[4].strftime("%H:%M %d-%m-%Y") }}
        </div>
        <p>
        <a href="/poll/{{ poll[0] }}">Mene kyselyyn</a>
        <a href="/poll_result/{{ poll[0] }}">Näytä tulokset</a> <br>
        {% if poll[2] == session.user_id or admin == True %}
            <p>
            <form action="/delete_poll" method="POST">
                <input type="hidden" name="user_id" value="{{ poll[2] }}">
                <input type="hidden" name="poll_id" value="{{ poll[0] }}">
                <input id="button" type="submit" value="Poista kysely">
            </form>    
            {% endif %}
    </div>
    {% endfor %}
    </p>
{% endif %}
</div>
{% endblock %}