{% extends "layout.html" %}
{% block content %}
<header>
    <div class="header-content">
        <h1>Keskustelusovellus</h1>
        <a href="/">Takaisin</a>
    </div>
</header>

<div class="container">
    <p>
        <div class="account">
            <form action="/register" method="post" onsubmit="return check(this)">
            Tunnus: <input type="text" name="username">
            <p>
            Salasana: <input type="password" name="password1">
            <p>
            Salasana uudestaan: <input type="password" name="password2">
            <p>
            <input type="submit" value="Luo tunnus">
            </form>

<script>
    function check(form) {
        if (form.username.value.length > 20) {
            alert("Tunnuksen nimi on liian pitkä");
            return false;
        }
        if (form.username.value.length < 1) {
            alert("Tunnuksen nimi on liian lyhyt");
            return false;
        }
        if (form.password1.value.length < 1) {
            alert("Salasana on liian lyhyt");
            return false;
        }
        return true;
    }
    </script>
        
        </div>
    </p>
</div>
{% endblock %}