<font size="+2">Aihe: {{ message[1] }} | </font><a href="/">Takaisin</a>
<hr>
<i>Lähettäjä:</i> {{ message[3] }}
<p><i>Viesti:</i> {{ message[2] }}</p>
<i>Aika:</i> {{ message[4].strftime("%H:%M %d-%m-%Y") }}
<hr>
<font size="+1">Vastaukset:</font>
<hr>
{% for answer in answers %}
    <i>Lähettäjä:</i> {{ answer[3] }}
    <p><i>Viesti:</i> {{ answer[1] }}</p>
    <i>Aika:</i> {{ answer[4].strftime("%H:%M %d-%m-%Y") }}<br>
    {% if answer[2] == session.user_id %}
    <form action="/delete_answer" method="POST">
        <input type="hidden" name="answer_id" value="{{ answer[0] }}">
        <input type="hidden" name="message_id" value="{{ message[0] }}">
        <input type="submit" value="Poista viesti">
    </form>    
    {% endif %}
    <hr>
{% endfor %}

{% if session.user_id %}
    <form action="/answer" method="POST">
        <p>Viesti: <br>
            <textarea name="text" rows="5" cols="40"></textarea>
            <br>
            <input type="submit" value="Luo viesti">
            <input type="hidden" name="id" value="{{ message[0] }}">
    </form>
{% endif %}

